<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="card bg-light mb-3" style="width: 18rem;">
    <div class="card-body">
  <h1 class="card-title">Welcome</h1>
  <h4 class="card-text ">Please register or login</h2>
</div>
</div>
</body>